@use '../mixins.scss' as mixin;

.popup-choice-avatar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.4s ease, opacity 0.4s ease;

  &--hidden {
    @include mixin.hidden;
    transform: translateX(-100%);
  }
}

.avatars-modal {
  position: relative;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
  padding: 7rem 5rem;
  background: var(--color-primary-light);
  display: flex;
  // flex-wrap: wrap;
  gap: 3rem;

  &__svg-close {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
    @include mixin.transition;

    &:hover {
      backdrop-filter: brightness(0.6);
    }
  }

  &__img {
    position: relative;
    @include mixin.transition;
    cursor: pointer;
    display: block;
    max-width: 30rem;
    max-height: 30rem;
    background-color: var(--color-accent-pink);
    box-shadow: 0 0 0 3px #28283c, 3px 3px 0 3px #28283c, -3px 3px 0 3px #28283c,
      3px -3px 0 3px #28283c, -3px -3px 0 3px #28283c;

    &:hover {
      background: #cd6b8a;
    }

    & img {
      padding: 1rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include mixin.transition;
      &:hover {
        transform: scale(1.04);
      }
    }
  }

  &__svg {
    @include mixin.hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 5.5rem;
    height: 5.5rem;
    transform: translateX(2rem);
    transition: transform 0.4s, opacity 0.4s;
  }

  &__img:hover &__svg {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  &__img--active &__svg {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
