@use '../mixins' as mixin;

.settings-page {
  font-size: 3rem;
  padding-top: 4rem;
  display: block;

  &--hidden {
    display: none;
  }
}

.change-name-box {
  display: flex;
  gap: 3rem;
}
