:root {
  --color-primary: #90ffda;
  --color-primary-light: #90ffb4;

  --color-accent-primary: #ffb490;
  --color-accent-pink: #ff90b4;

  --color-grey-dark-1: #28283c;
  --color-grey-light-1: #ebebeb;
  --color-darkest: #141414;

  --color-defence: #0b3582;
  --color-attack: #820b0b;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 2rem;
  line-height: 120%;
  background-color: var(--color-primary);

  overflow: hidden;
}

.container {
  padding: 0 2rem;
  max-width: 148rem;
  margin: 0 auto;
}

.header {
  border-bottom: 0.5rem solid var(--color-accent-primary);
  box-shadow: 0rem 0.1rem 4rem rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
}

.tool-bar {
  padding: 3rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* &__right {
    display: flex;
    gap: 2rem;
  } */
}

.divider {
  margin-top: 10px;
  width: 100vw;
  height: 0.15rem;
  background: var(--color-grey-dark-1);
  margin-left: calc(-50vw + 50%);
}
