@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&family=VT323&display=swap');

@font-face {
  font-family: 'SilkscreenRus';
  src: url('/public/fonts/SilkscreenRus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CyrillicUndertale';
  src: url(/public/fonts/cyrillic-undertale-font.otf);
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 2rem;
  line-height: 120%;
  font-family: 'Silkscreen', 'SilkscreenRus', 'CyrillicUndertale', monospace;
  font-weight: 400;
  color: var(--color-grey-dark-1);
}

.heading-title {
  font-size: 5.3rem;
  text-align: center;
  color: #28283c;
}

.current-name,
.enemy-name {
  font-size: 2.4rem;

  &--settings {
    font-size: inherit;
  }
}

/* ACCENTS */

.accent-amount {
  background-color: rgba(255, 255, 255, 0.747);
  box-shadow: 0rem 0.1rem 4rem rgba(0, 0, 0, 0.15);
  width: 1.8rem;
  text-align: center;
  display: inline-block;
  font-size: 2.2rem;
}

.accent-attack {
  color: var(--color-attack);
  background-color: rgba(255, 255, 255, 0.407);
  box-shadow: 0rem 0.1rem 4rem rgba(0, 0, 0, 0.15);
}

.accent-defence {
  color: var(--color-defence);
  background-color: rgba(255, 255, 255, 0.407);
  box-shadow: 0rem 0.1rem 4rem rgba(0, 0, 0, 0.15);
}

.color-player-text {
  color: var(--color-player);
}
.color-enemy-text {
  color: var(--color-enemy);
}

.color-red {
  color: var(--color-attack);
}
.color-blue {
  color: var(--color-defence);
}
.color-peach-stroke {
  font-size: 2.4rem;
  color: var(--color-accent-primary);
}

.color-red {
  color: var(--color-attack);
}
.color-blue {
  color: var(--color-defence);
}

.shake {
  display: inline-block;
  animation: shake 0.3s infinite;
}

.damage-shake {
  display: inline-block;
  animation: damageShake 0.6s infinite;
}

.damage-pulse {
  display: inline-block;
  animation: pulse 1.8s infinite;
}
.damage-flash {
  display: inline-block;
  animation: flash 0.4s infinite;
}

.highlight-text {
  position: relative;
  display: inline-flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: var(--color-defence);
  overflow: hidden;
}
.highlight-text::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05) 2px,
    rgba(255, 255, 255, 0.2) 4px,
    rgba(255, 255, 255, 0.05) 6px
  );
  animation: scan 1.5s linear infinite;
  pointer-events: none;
}

@keyframes scan {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes border-glow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  40% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes damageShake {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  75% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes flash {
  0%,
  100% {
    color: #f44336;
  }
  50% {
    color: #ff7961;
  }
}

@keyframes scan {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
